<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Google</title>
</head>
<body>
    <a href="/pastlife">당신의 전생은?</a>
    <a href="/goonghab">당신의 궁합을 알려드립니다.</a>
    <a href="/opgg">lol전적검사기</a>
    <img height="60" src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png">
    <form action="https://google.com/search">
        <input name="q">
        <button> 검색 </button>
    </form>

    <img height="92" src="https://t1.daumcdn.net/cfile/tistory/2212C6335790D35004" >
    <form action="https://search.naver.com/search.naver">
        <input name="query">
        <button> 검색 </button>
    </form>
    
    <img src="https://t1.daumcdn.net/daumtop_chanel/op/20170315064553027.png" width="180" height="94">
    <form action="https://search.daum.net/search">
        <input name="q">
        <button> 검색 </button>
    </form>
</body>
</html>